@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,400&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}
.menu{
    background-color: purple;
    padding-top: 5px;
    padding-bottom: 5px;
}
.item-menu{
    display: inline-block;
    margin-left: 20px;
    
}

.item-menu a{
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.item-menu a:hover{
    font-weight: bold;
}

.titulo-menu{
    color: white;
    margin-right: 30px;
}

.contenedor{
    padding: 5%;
}